@using Bquiz.Display.Helpers;
@model BquizDB.Entities.bq_Quiz

<div class="col-sm-4" style="margin-bottom:8px">

    <div class="media">
        <a href="@Url.Action("prestart", "test", new { quizId = Model.QuizId })" class="pull-left">
            <img src="../../Bquiz_Data/Images/@Model.EnglishCenterIcon" class="img-rounded" width="75" height="75"/></a>

        <div class="media-body">
            <b><a href="@Url.Action("prestart", "test", new { quizId = Model.QuizId })">
                @Model.Name</a></b><br />
            <span>@Model.bq_User.GetDisplayName()</span><br />
            <span>Highest score: @Model.MaxScore</span><br />
            <span>@Model.bq_Test.Count tests</span>
        </div>
    </div>

</div>

