 @model Bquiz.Display.Models.ps_Result

@{
    ViewBag.Title = "Kết quả đợt thi";
}

<div style="width:100%; background-color: #fef0f4; padding:4px; margin-bottom:10px;text-align:center">
    <h3><b>TOEIC RESULT</b></h3>
    <b><a href="#">@Model.QuizModel.Name</a></b><br>
    <span>User: @Model.TestModel.bq_User.UserName</span><br>
    <span>Mark: 670</span>
</div>

<div class="row">
@foreach (var item in Model.AnswerList) {
    <div class="col-sm-2">
        @if (item.Answer == item.bq_Question.Answer)
        {
            <span class="label label-success">@item.bq_Question.Order.ToString("D3")</span>
        } else {
            <span class="label label-danger">@item.bq_Question.Order.ToString("D3")</span>
        }
        <span class="label label-primary">@item.GetStrAnswer()</span>
        <span class="label label-default">@item.bq_Question.GetStrAnswer()</span>
    </div>
}
</div>
