@model BquizDB.Entities.bq_Quiz

@{
    ViewBag.Title = "Update";
}

<div style="margin-bottom:15px;">
    
    <div style="font-size:22px; margin-bottom:20px">
        <span class="label label-info" style="font-weight:lighter; font-family:tahoma">
            Update quiz</span>
    </div>
</div>

<form class="form-horizontal" role="form" action="/quiz/update" method="post">
    @Html.ValidationSummary(true, "Quiz creation was unsuccessful. Please correct the errors and try again.")

    <div class="form-group">
        <label for="userName" class="col-sm-3 control-label">Quiz title</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <label for="birthDay" class="col-sm-3 control-label">English centre</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.EnglishCenter, new { type = "text", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="birthDay" class="col-sm-3 control-label">Cover Image</label>

        <div class="col-sm-9">
            <input name="attachments" id="upload_files" type="file" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="gender" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.EnglishCenterDescription, new { @class = "form-control", rows = "8" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="pull-right">
                @Html.HiddenFor(m => m.EnglishCenterIcon)
                @Html.HiddenFor(m => m.QuizId)
                
                <a href="@Url.Action("manage", "quiz")" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete</a>
                <a href="@Url.Action("manage", "quiz")" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel</a>
                <button type="submit" class="btn btn-success">
                    Update
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#upload_files").kendoUpload({
                async: {
                    saveUrl: "/Upload/Save",
                    autoUpload: true
                }
            });
        });
    </script>
}
