@*<!DOCTYPE html>*@

<!DOCTYPE bquiz SYSTEM "../../Content/Defined/bquiz.dtd">

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.countdown.js")"></script>
    
    <script type="text/javascript">
        function timeServer() {
            var server = new Date();
            server.getHours;
            return server;
        };
    </script>
    <script type="text/javascript">
        function liftOff() {
           
            //var TestId = $("input[type=hidden][id=15]").val();
            //var GroupId = $("input[type=hidden][id=14]").val();
            //var TestId = document.getElementById("15").value;
            //var GroupId = document.getElementById("14").value;
            //alert(TestId + "  " + GroupId);
            
            var retVal = confirm("Đã hết thời gian làm bài! Chọn OK để chuyển đến trang xem kết quả!" );
            if (retVal == true) {
                alert("Chuyển trang xem kết quả! Ngay lập tức");
                return true;
                
            } else {
                alert("Mọi kết quả đã được ghi nhận, bạn không thể sửa chữa hay làm thêm được nữa! Sau 1s sẽ chuyển sang trang xem kết quả");
                return false;
            }

        }
      
</script>

    @*<script type="text/javascript">
        function click1()
        {
          
            //var TestId = document.getElementById("15").value;
            var TestId = $("input[type=hidden][id=15]").val();
            var GroupId = document.getElementById("14").value;
            window.location = "./Result_Test/?groupId=" + GroupId + "&testId=" + TestId + "";

        }
    </script>*@
       
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.metro.css").Combined(true).Compress(true)))</head>
 
<body>    
    @Html.Partial("_HeaderPartial")

     <div class="page">
        <div id="Main">
            <div>
                <div id="LeftPanel">
                    @RenderSection("LeftPanel", required: false)
                    @Html.Action("PublishingMenu", "Part", new { quizId = ViewBag.QuizId, testId = (Guid)ViewBag.TestId})
                </div>

                <div id="MainPanel" style="height:100%">
                    @Html.Partial("/Views/QuestionGroup/_TopTestingNav.cshtml", Bquiz.BquizHelper.BquizHelpers.GetNav((Guid)ViewBag.GroupId ))

                    @RenderBody()

                    @Html.Partial("/Views/QuestionGroup/_BottomTestingNav.cshtml", Bquiz.BquizHelper.BquizHelpers.GetNav((Guid)ViewBag.GroupId ))
                </div>

                <div id="RightPanel">
                    @RenderSection("RightPanel", required: false)
                    
                    
                    <ul class="nav">
                        <li>
                            <div>
                                Time:
                                <div id="counttime"></div>
                                <script type="text/javascript">$('#counttime').countdown({ until: '+@ViewBag.TimeLeft', serverSync: timeServer, alwaysExpire: true, tickInterval: 1, onExpiry: liftOff, expiryUrl: './Result_Test/?groupId=@ViewBag.GroupId&testId=@ViewBag.TestId' })</script>
                            </div>
                        </li>

                        <li>Done: @ViewBag.QuestionDone /200</li>
                    </ul>
                   
                    @Html.Action("AnswerBoard", "QuestionGroup", new { testId = (Guid)ViewBag.TestId, groupId = (Guid)ViewBag.GroupId})
                    @*<input type="button" id="bt1" title="clicknow" value="Xem kết quả"  style='visibility: visible;' onclick="return click1();" />*@
                </div>
                
            </div>
         </div>
    </div>
  
    <@*input type="hidden" id="14" value="@ViewBag.GroupId" />
    <input type="hidden" id="15" value="@ViewBag.TestID" /> *@
   
    
    @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))</body>
</html>
