<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- bootstrap -->
    <link href="~/Content/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- kendoui -->
    <link href="~/Content/libs/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/libs/kendo/styles/kendo.default.min.css" rel="stylesheet">

    <!-- main -->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body class="BodyBackground" id="bquiz_container">
    
    @Html.Partial("_HeaderPartial")

    <div class="page">
        <div id="Main">
            <div>
                <div id="LeftPanel">
                    @RenderSection("LeftPanel", required: false)
                </div>

                <div id="MainPanel" style="height:100%">
                    @RenderBody()
                </div>

                <div id="RightPanel" style="vertical-align:top">
                    @RenderSection("RightPanel", required: false)
                </div>
            </div>
         </div>
    </div>

    <!-- scripts -->
    <script src="@Url.Content("~/Content/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="~/Content/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/libs/kendo/js/kendo.web.min.js"></script>
    <script type="text/javascript" src="http://static.me.zing.vn/v3/js/zm.xcall-1.01.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var h = document.getElementById('bquiz_container').offsetHeight;
            console.log("ready - h: " + h);
            h = parseFloat(h);
            zmXCall.resizeParent({
                id: "bquiz",
                height: h
            });

        });
    </script>
</body>
</html>
